<div class="container">
  <div class="sidebar"></div>
  <app-sidebar
    [boardData]="boardData()"
    [activeProject]="activeProject()"
    (addBoard)="addBoard()"
    (selectActive)="selectActive($event)"
  ></app-sidebar>

  <main class="content">
    <app-navbar
      [activeBoard]="activeProject()"
      [boardData]="boardData()"
    ></app-navbar>
    <app-board
      class="main-board"
      [showproject]="activeProject()"
      (addnewTask)="addTask()"
    ></app-board>
  </main>
</div>
